<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-blue-300 via-purple-300 to-pink-300 min-h-screen text-gray-200">
    <nav class="bg-gray-800 p-4 shadow-lg mb-8">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/posts" class="text-2xl font-extrabold text-yellow-300">Blog App</a>
            <div class="space-x-4 ml-20">
                <a href="/posts" class="text-lg text-gray-300 hover:text-white hover:underline">Home</a>
                <a href="/posts/new" class="text-lg text-gray-300 hover:text-white hover:underline">Add Post</a>
                <a href="/logout" class="text-lg text-gray-300 hover:text-white hover:underline">Logout</a>
            </div>
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="Search..." class="px-3 py-2 w-32 rounded-md bg-gray-200 text-black"
                    required>
                <button type="submit"
                    class="px-3 py-2 rounded-full bg-yellow-500 text-black hover:bg-yellow-400">Search</button>
            </form>
        </div>
    </nav>
    <div class="container mx-auto px-4 py-8">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-extrabold mb-4 text-blue-800">BLOG VERSE</h1>
            <a href="/posts/new"
                class="inline-block bg-yellow-500 text-gray-900 px-8 py-2 rounded-full text-xl mt-5 font-semibold shadow-lg hover:bg-yellow-400">Create
                New Post</a>
        </header>

        <main>
            <h2 class="text-3xl font-bold mb-10 text-blue-800 ml-20 mt-14">All Posts</h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <% let categoryKeys=Object.keys(categorizedPosts); for (let i=0; i < 2; i++) { let
                        category=categoryKeys[i]; let categoryPosts=categorizedPosts[category]; %>
                        <% if (categoryPosts.length> 0) { %>
                            <h3 class="text-2xl font-bold mb-4 text-blue-700 ml-20">
                                <%= category %>
                            </h3>
                            <ul class="space-y-4 mb-8 w-3/5 ml-20">
                                <% categoryPosts.forEach(post=> { %>
                                    <li
                                        class="cursor-pointer p-6 bg-gray-300 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out">
                                        <a href="/posts/<%= post._id %>"
                                            class="text-2xl font-bold text-indigo-950 hover:text-gray-600 transition duration-200">
                                            <%= post.title %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% } %>
                                <% } %>
                </div>

                <div>
                    <% for (let i=2; i < categoryKeys.length; i++) { let category=categoryKeys[i]; let
                        categoryPosts=categorizedPosts[category]; %>
                        <% if (categoryPosts.length> 0) { %>
                            <h3 class="text-2xl font-bold ml-20 mb-4 text-blue-700">
                                <%= category %>
                            </h3>
                            <ul class="space-y-4 mb-8 w-3/5 ml-20">
                                <% categoryPosts.forEach(post=> { %>
                                    <li
                                        class="cursor-pointer p-6 bg-gray-300 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out">
                                        <a href="/posts/<%= post._id %>"
                                            class="text-2xl font-bold text-indigo-950 hover:text-gray-600 transition duration-200">
                                            <%= post.title %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </main>
    </div>
</body>

</html>